body {
  font-size: 24px;
  margin:0px;
  padding:0px;
  background-color:#FFF8DC;
  /*background-image:url('./picture/3118257_20220807163334100070_0.jpg');
  /*background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  color:black;
}
.carousel_body{
  margin-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

.head_left{
	float: left;
}
.head_right{
	float: right;
}
table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}
li.head_left a:hover {
  background-color: #111;
  color:white;
}

.active {
  background-color: #4CAF50;
}

.name_right{
	margin-left:10px;
	margin-top:70px;
	align-items: center;
	width:450px;
	height:180px;
}
.headone{
	display:flex;
	margin-left:10px;
	margin-top:10px;
	justify-content:center;
}
.picturebox{
	width:230px;
	height:400px;
	border-radius:10px;
}
.content{
	margin-left:10px;
	margin-top:10px;
	text-align:center;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
ul.slides {
  position: relative;
  width: 600px;
  height: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
}

li.slide {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 120px;
  color: #fff;
  transition: .5s transform ease-in-out;
}

.slide:nth-of-type(1) {
  background-color: #F2E205;
}

.slide:nth-of-type(2) {
  background-color: #F2E205;
  left: 100%;
}

.slide:nth-of-type(3) {
  background-color: #F2E205;
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translatex(-200%);
}


/* Left/Right Button Classes Below */

.navigator {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.navigator i {
  font-size: 32px;
  color #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
  display: flex;
}
.Certificate_pictrue{
	width:50%;
	height:360px;
	/*background-image:url(./Google_Solution_Challenge_Certificate_全球比賽前50名_ALECCHAN.png);
	background-position: center; 
    background-repeat: no-repeat; */
	
}
.Certificate_content{
	width:50%;
	height:360px;
	
}
